* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.6;
}

.container {
	
	max-width: 900px;
	margin: 5rem auto;
	overflow: auto;
	padding: 0 2rem;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 100px;
	color: #000;
	margin-top: 15px;
	top: 30px;
}

h2 {
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
	color: #333;
	opacity: 0.5;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin: 2rem 2rem;
	padding: 0 20px;
	
}

.logo {
	width: 300px;
	display: block;
	margin: auto;
}
i.fa.fa-check {

	font-size: 100px;
	text-align: center;
	text-transform: uppercase;
	color: #16a085;
	margin-left: 13rem;
	padding: auto auto;
	
}

.form-group {
	margin: 1rem 0;
}


.btn {
	display: block;
	width: 100%;
	background: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}
